.App {
  text-align: center;
}

.Ingredient {
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem;
}

.Recipe-Card {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.RecipeCard__Ingredients-Container {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  padding: 2rem;
}

.Recipe-Card__Totals {
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 1rem;
}